* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	vertical-align: baseline;
	text-decoration: none;
	font-family:Arial , sans-serif;
}

@font-face {
    font-family: 'jura';
    src: url('JuraLight.ttf');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #332F3D;
}

.wrapper {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
}
a:link{
	color: #B8E0FF;
}

a:visited {
  color: #8FA2C3;
}

a:hover {
	color: #FAF3E3;
}

a:active {
	color: #676278;
}


 ul {
   width:100%;
   flex-wrap:wrap;
   display:flex;
   align-items: center;
   justify-content: center;
}

li, header, footer {
  width: 100%;
  text-align: center;
}

h4, p, footer, header {
  color: #FAF3E3;
}

.gen {
	display: block;
}

label {
	padding: 10px 10px 10px 0px;
  font-family: jura;
	font-size: 16px;
  color: #FAF3E3;
  font-weight: bold;
}

#user, #pass {
	margin: 10px 0px 5px 0px;
}

fieldset {
	padding: 10px;
	margin: 10px;
  background-color: #676278;
}

fieldset fieldset{

  border-width: 2px;
	border-style: solid;
	border-radius: 5px;
  border-color: #8FA2C3;
}

table {
  width: 100%;
	max-width: 95%;
	word-break: break-all;
  margin: 5px auto;
	border-collapse: collapse;
	color: #FAF3E3;
	text-align: center;

}

th, td {
	border:2px solid #332F3D;
	padding: 10px 20px;
	font-size: 20px;

}

th {
	background-color: #8FA2C3;
  color: #FAF3E3;
}

tr:nth-child(even) {background-color: #676278}

.dts_fieldset {
	width: 1024px;
	max-width: 50%;
	margin: 5px auto;
}

h2, h3 {
	color: #FAF3E3;
	text-align: center;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
	text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-radius: 10px;
    background-color: #676278;
    border: none;
    color: #FAF3E3;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
